name: Run Tests
on :
  push:
    branches:
      main
jobs:
  RunTests:
    runs-on : ubuntu-latest
    steps :
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
         python-version: '3.11'

    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          pip install selenium 
          pip install pytest
          
    - name: Install Google Chrome
      run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          
    - name: Run tests with pytest
      run: |
          python -m pip install webdriver-manager
          pytest -vs
      
